/*############################################################################################*/
/* -------------------------------------------MENU DEROULANT----------------------------------*/
/*###########################################################################################*/


header{   /*RESPONSIVE*/
	display: flex;
    justify-content: center;
	width: 100%;
	margin-top: 10px;
}

#menu, #menu ul { /* Liste */

	text-align: center;
}

#menu { /* style ensemble menu */
	position: fixed;
	
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	font-size: 21px;
}
#menu a { /* contenu de la liste */
	display: block; /* on change le type d'élément, les liens deviennent des balises de type block */
    padding: 0;
    background: #F5F5F5;


	box-shadow: 0px 0px 8px #C0C0C0;
    color: #000;
    text-decoration: none;
    width: 250px;
}
#menu li { /* Éléments des listes */ 
	float: center; /* IE */
	border-right: 1px solid #fff;*/
	position: relative;
	display: inline-block;
}
html>body #menu li {
	border-right: 1px solid transparent;
}
#menu li ul {
	position: absolute;
	width: 250px;
	left: -999em;
}
#menu li ul ul {
	
	border-left: 1px solid #fff; 
}
html>body #menu li ul ul{
	border-left: 1px solid transparent
}
#menu a:hover /* Lorsque la souris passe sur un des liens */    
{
        color: #fff; /* On passe le texte en noir... */
        background: #901D30; /* ... et au contraire, le fond en blanc */
}
#menu ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#menu a{
text-decoration: none;
    display: block;
}

#menu li:hover ul{
	left: auto; 
}

/*###########################################################################################*/
/* -------------------------------------------   CORPS SITE  --------------------------------*/
/*###########################################################################################*/

body{
	background-color:#313534;
	background-image:url(../wall466305.png);
	background-attachment:fixed;
}
nav{                        
	              /* Description */
	position: fixed;
	display: flex;
    justify-content: left;
	width: 15%;
	margin-left: 10px;
	margin-top: 55px;
	
}


.desc{
	padding: 10px 20px 460px 30px;
	background-color: #C83521;
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 10%; 
	border-radius: 20px;	
}
.desgauche{
	border: 0.1px solid;
	padding: 5px 5px 5px 5px;
	text-align: center;


}
.descr{
	font-family: 'Raleway', sans-serif;
	color:#361226;
	text-align:  center;

}
.imgP{
	padding: 30px 10px 10px 10px;
	align-content:center;

}
article{
	margin-top: 100px;
	display: flex;
	justify-content: center;

}

iframe{
	display: flex;
	justify-content: center;
	animation: carte 4s ;
    }

    @keyframes carte {
    0%   {opacity: 0}
    100% {opacity: 1}

}

.text-center{

 
 	font-family: 'Raleway', sans-serif;
}

.container{
	margin-top: 35px;
	background-color: #C83521;
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 10%; 
	border-radius: 20px;
/* anime */
    position: relative;
    animation: mymove 2s ;
}
/* anime */
@keyframes mymove {
     0%   {left: 1500px;}
     100% {left:  0px;}
}
h2{
	font-family: 'Raleway', sans-serif;
	color:#361226;