// ANNIMATION
    @keyframes bouton {
    0%   {background: #361226}
    25%  {background: #901D30}
    50%  {background: #C83521}
    70%  {background: #901D30}
    100% {background: #361226}
}

    @keyframes description {
    0%   {filter: blur(5px);opacity: 0;left:  -250px}
    100% {filter: blur(0px);opacity: 1;left: 0px}
}

	@keyframes responsive{
 	0%   {filter: blur(0px);opacity: 1;}
	100% {filter: blur(10px);opacity: 0;}
}

@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
  
    animation-timing-function: cubic-bezier(0.300, 0.050, 0.400, 0.060);
    transform: translate3d(0, -8px, 0);
  }

  70% {

    animation-timing-function: cubic-bezier(0.300, 0.050, 0.400, 0.060);
    transform: translate3d(0, -5px, 0);
  }

  90% {
    transform: translate3d(0,-2px,0);
  }
}
//TAILLE PX MODIF

@media screen and (max-width: 950px) {
  .desc {
  animation: responsive 1s;
  animation-fill-mode: forwards;
  }

}

@media screen and (max-width: 950px) {
  .section {
      margin-left: 0%
  }
  .contenuintro{
  background-color: #C83521;
  background-color: rgba(255, 255, 255, 1);
  padding: 0%;
}
#menu { /* style ensemble menu */
   margin-top: 5px; 
   }
}

#histoire{
	display: none;
}

#WEB{
	display: none;
}

// svg{
//   filter: grayscale(1);

svg:hover{
filter: grayscale(0);
transform: scale(1.03);
transition: all 0.3s ease-in-out;
}








.ribbon {
  width: 400px;
  height: 60px;
  margin: 100px auto 0px;
  position: relative;
  color: white;
  font: 28px/60px sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.9);
  
  -webkit-animation: main 250ms;
  -moz-animation: main 250ms;
  -ms-animation: main 250ms;
  animation: main 250ms;
}

.ribbon i {
  position: absolute;
}

.ribbon i:first-child, .ribbon i:nth-child(2) {
  position: absolute;
  left: -20px;
  bottom: -20px;
  z-index: -1;
  border: 20px solid transparent;
  border-right-color: rgba(255, 255, 255, 0.6);
  
  -webkit-animation: edge 500ms;
  -moz-animation: edge 500ms;
  -ms-animation: edge 500ms;
  animation: edge 500ms;
}

.ribbon i:nth-child(2) {
  left: auto;
  right: -20px;
  border-right-color: transparent;
  border-left-color: rgba(255, 255, 255, 0.6);
}

.ribbon i:nth-child(3), .ribbon i:last-child {
  width: 20px;
  bottom: -20px;
  left: -60px;
  z-index: -2;
  border: 30px solid rgba(255, 255, 255, 0.7);
  border-left-color: transparent;
  
  -webkit-animation: back 600ms;
  -moz-animation: back 600ms;
  -ms-animation: back 600ms;
  animation: back 600ms;
  
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.ribbon i:last-child {
  bottom: -20px;
  left: auto;
  right: -60px;
  border: 30px solid rgba(255, 255, 255, 0.7);
  border-right-color: transparent;

  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

p {
  text-align: center;
  color: #aaa;
}

/* animations */

@-webkit-keyframes main {
  0% { -webkit-transform: scaleX(0); }
  100% { -webkit-transform: scaleX(1); }
}

@-webkit-keyframes edge {
  0%, 50% { -webkit-transform: scaleY(0); }
  100% { -webkit-transform: scaleY(1); }
}

@-webkit-keyframes back {
  0%, 75% { -webkit-transform: scaleX(0); }
  100% { -webkit-transform: scaleX(1); }
}


@-moz-keyframes main {
  0% { -moz-transform: scaleX(0); }
  100% { -moz-transform: scaleX(1); }
}

@-moz-keyframes edge {
  0%, 50% { -moz-transform: scaleY(0); }
  100% { -moz-transform: scaleY(1); }
}

@-moz-keyframes back {
  0%, 75% { -moz-transform: scaleX(0); }
  100% { -moz-transform: scaleX(1); }
}


@keyframes main {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}

@keyframes edge {
  0%, 50% { transform: scaleY(0); }
  100% { transform: scaleY(1); }
}

@keyframes back {
  0%, 75% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}


//FERMER BOTTOM

