/*############################################################################################*/
/* -------------------------------------------MENU DEROULANT----------------------------------*/
/*###########################################################################################*/


header{   /*RESPONSIVE*/
  display: flex;
    justify-content: center;
  width: 100%;
  margin-top: 10px;
}

#menu, #menu ul { /* Liste */

  text-align: center;
}

#menu { /* style ensemble menu */
  
  justify-content: center;
  position: fixed;  
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
}
#menu a { /* contenu de la liste */
  display: block; /* on change le type d'élément, les liens deviennent des balises de type block */
    padding: 1px;
    background: #F5F5F5;
    filter: grayscale(1);
    transition: all 0.3s ease-in-out;


    box-shadow: 0px 0px 8px #C0C0C0;
    color: #000;
    text-decoration: none;
    width: 250px;
}
#menu li { /* Éléments des listes */ 
  float: center; /* IE */
  border-right: 1px solid #fff;
  position: relative;
  display: inline-block;

}
html>body #menu li {
  border-right: 1px solid transparent;
}
#menu li ul {

  display: flex;
  flex-direction: column;
  position: absolute;

  width: 250px;
  left: -999em;
}
#menu li ul ul {
  
  border-left: 1px solid #fff; 
}
html>body #menu li ul ul{
  border-left: 1px solid transparent
}
#menu a:hover /* Lorsque la souris passe sur un des liens */    
{
        color: #fff; /* On passe le texte en noir... */
        background: #901D30; /* ... et au contraire, le fond en blanc */
        animation: bouton 4s infinite;
        filter: grayscale(0);
        transform: scale(1.03);
    }

    @keyframes bouton {
    0%   {background: #361226}
    25%  {background: #901D30}
    50%  {background: #C83521}
    70%  {background: #901D30}
    100% {background: #361226}
}

#menu ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
    display: flex;
  flex: column;
}
#menu a{
text-decoration: none;
    display: block;
}

#list a{
  display: flex;
  flex-direction: column;
}

#menu li:hover ul{
  display: flex;
  flex-direction: column;
  left: 790px; 
  width: 250px;
}

/*###########################################################################################*/
/* -------------------------------------------   CORPS SITE  --------------------------------*/
/*###########################################################################################*/
  @media screen and (max-width: 950px) {
  .desc {
  animation: responsive 1s;
  animation-fill-mode: forwards;

  }
@keyframes responsive {
  0%   {filter: blur(0px);opacity: 1;}
100% {filter: blur(10px);opacity: 0;}
}
}
body{
	background-color:#313534;
	background-image:url(../../wall466305.png);
	background-attachment:fixed;
}


nav{                        
	              /* Description */
	position: fixed;
	display: flex;
    justify-content: left;
	width: 15%;
	margin-left: 45px;
	margin-top: 100px;

}


.desc{
	padding: 10px 20px 10px 20px;
	background-color: #C83521;
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 10%; 
	border-radius: 20px;		
}
.desgauche{
	border: 0.1px solid;
	padding: 5px 5px 5px 5px;
	text-align: center;


}
.descr{
	font-family: 'Raleway', sans-serif;
	color:#361226;
	text-align:  center;
	margin-bottom: 130px;

}
.imgP{
	padding: 10px 10px 10px 10px;
	margin-left: 47px;

	

}
	img {
	border-radius: 15%;
	position: center;
}

/* SOCIALPARTIINCO*/
.social{
	display: flex;
	flex-direction: row;
	/*padding-top: 450px; */
	padding-left: 20px;	
}
.social img {
	width: 50px;
	padding: 10px 10px 10px 10px;
	margin:  10px 10px 10px 10px;
  filter: grayscale(1);
  transition: all 0.3s ease-in-out;
 }
 .social img:hover{
  filter: grayscale(0);
  transform: scale(1.1);
 }


article{
	margin-top: 100px;
	display: flex;
	justify-content: center;

}

iframe{
	display: flex;
	justify-content: center;
	animation: carte 2s ;
	margin: 10px;
	
  
    }

    @keyframes carte {
    0%   {filter: grayscale(1);filter: blur(5px);opacity: 0}
    100% {filter: grayscale(0);filter: blur(0px);opacity: 1}

}

.text-center{

 
 	font-family: 'Raleway', sans-serif;
}

.container{

	margin-top: 30px;
	background-color: #C83521;
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 10%; 
	border-radius: 20px;
	width: 50%;
/* anime */
    position: relative;
    animation: mymove 1s ;
}
/* anime */
@keyframes mymove {
     0%   {filter: blur(5px);opacity: 0;left: 1000px;}
     100% {filter: blur(0px);opacity: 1;left:  0px;}
}
h2{
	font-family: 'Raleway', sans-serif;
	color:#361226;
}
